body {
    background-color: rgb(120, 118, 118);
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    }

    h3{
        text-align: center;
    }
    
    .form-container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }

    form {
        width: 300px;
        padding: 20px;
        background-color: #d0dce4;
        border-radius: 5px;
        box-shadow: 0 0 10px rgba(255, 18, 18, 0.8);
    }

    input[type='text'], input[type='password'], input[type='email'] {
        width: 90%;
        padding: 10px;
        margin-bottom: 20px;
        border: none;
        border-radius: 5px;
        font-size: 18px;
    }

    button[type='submit'] {
        font-size: medium;
        background-color: #4CAF50;
        color: white;
        padding: 10px 20px;
        border: none;
        border-radius: 3px;
        cursor: pointer;
    }