.nav-bar{
    border: 3px solid black;
    padding: 25px;
    background-color: rgb(67, 131, 67);
    position: relative;
}

.nav-bar a{
    float: left;
    color: rgb(38, 38, 38);
    text-decoration: none;
    text-align: center;
    padding: 0px 8px 0px 8px;
    font-size: 28px;
}

.nav-center a:hover {
    background-color: rgb(93, 153, 93);
}

.nav-center{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.nav-right{
    position: absolute;
    top: 50%;
    right: 0%;
    transform: translate(-50%, -50%)
}

.dropdown-login{
    padding-top: 25px;
    display: none; /*change back to none*/
    position: absolute;
    right: 0;
    background-color: burlywood;
    min-width: 300px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: -1;
}

.nav-right:hover .dropdown-login, .dropdown-login.show{
    display: block;
}

/* .dropdown-login.show{
    display: block;
} */

input[type=text]:active{
    display: block;
}

.dropdown-login form{
    padding: 12px 16px;
}



input[type=text]{
    font-size: 17px;
    width: 100%;
    padding: 12px 15px;
    margin: 8px 0px;
    display: inline-block;
    box-sizing: border-box;
    border-radius: 15px;
}

input[type=button]{
    padding: 5px 8px;
    border-radius: 5px;
}


@media screen and (max-width: 1040px){
    .nav-bar{
        padding: inherit;
    }

    .nav-bar a{
        float: none;
        display: block;
        text-align: center;
    }

    .nav-center, .nav-right{
        position: relative;
        top: 0;
        left: 0;
        transform: none;
    }

    .nav-right a:hover {
        background-color: rgb(93, 153, 93);
    }
}


